#score_div {
  position: fixed;          /* removes it from layout */
  top: 6.25%;
  left: 50%;
  transform: translate(-50%, -6.25%);
  text-align: center;
  font-size: 25px;
  background-color: rgb(250, 0, 225);
  padding: 10px;
  border: 5px rgb(202, 0, 182) solid;
  border-radius: 5px;
}

#computer_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(50vh - 100px);
}

#play_div {
  position: fixed;          /* removes it from layout */
  top: 45.0%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 25px;
  background-color: rgb(250, 0, 0);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 5px rgb(187, 0, 0) solid;
  border-radius: 5px;
  z-index: 2;
}

.computer_fake, #computer {
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;
}

.student {
    position: absolute;
    top: calc(50vh - 200px);
    z-index: 0;
}
.teacher {
    position: absolute;
    top: calc(50vh - 225px);
    z-index: 0;
}